fastapi
uvicorn[standard]
pypdf
requests
numpy
python-multipart
python-dotenv
sqlalchemy
psycopg2-binary
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
resend
sentence-transformers
torch
reportlab
rank-bm25